div{
    width: 50%;
    height: 50vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(177,104,235,1) 45%, rgba(137,207,221,1) 95%);
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: white;
    font-size: 40px;
    font-family: monospace;
}